
@{
    ViewData["Title"] = "Principal";
}

<div class="container">
    <h2>Servicios</h2>
    <div class="row">
        <div class="col-sm">
            <a href="/Users/Users?area=Users" title="Usuarios">
                <div id="contenedor">
                        <center>
                            <img class="imagePrincipal" src="/images/images/Users.png">
                        </center>
                </div>
                <h3 style="overflow: visible;">
                    Usuarios
                </h3>
                <p style="overflow: visible;">
                    Ingresar para ver los usuarios.
                </p>
            </a>
        </div>
        <div class="col-sm">
            <a href="/Customers/Customers?area=Customers" title="Clientes">
                <div id="contenedor">
                    <center>
                        <img class="imagePrincipal" src="/images/images/Clients.png">
                    </center>
                </div>
                <h3 style="overflow: visible;">
                    Clientes
                </h3>
                <p style="overflow: visible;">
                    Ingresar para ver los clientes.
                </p>
            </a>
        </div>
    </div>
</div>
